//
//  dev.xcconfig
//  Runner
//
//  Created by Simform Solutions on 26/10/20.
//

// Configuration settings file format documentation can be found at:
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
FLUTTER_TARGET=lib/main_dev.dart
APP_BUNDLE_ID=com.fusion.works.dev

